development:
  dialect: postgres
  database: go-room-bookings
  user: 
  password: 
  host: 127.0.0.1
  pool: 5

test:
  url: 'postgres://postgres:postgres@127.0.0.1:5432/myapp_test'

production:
  url: 'postgres://postgres:postgres@127.0.0.1:5432/myapp_production'
